<style>
    .custom-footer {
        text-align: center;
        padding: 30px;
    }
</style>
<footer class="footer fixed-bottom bg-dark text-white">
    <div class="container custom-footer">
        <p>&copy; 2024 Capital Clue app. V20240301.3</p>
    </div>
</footer>
@code {

}
