@using CapitalClue.Frontend.Shared.ServiceInterfaces
@inject IStateContainer StateContainer

<h3>StockChoice</h3>
<RadzenCard>

<RadzenStack Orientation="Orientation.Vertical">
        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3" class="rz-my-6">how much are you investing in Stock for down payment?</RadzenText>
        <RadzenNumeric Step="50000" @bind-Value=@downpayment @oninput="Update" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
    </RadzenStack>


    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3" class="rz-my-6">how much would you Monthly contribute in stock for next 5 years?</RadzenText>
        <RadzenNumeric Format="c" Step="50000" @oninput="Update" @bind-Value=@monthlyContribution InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
    </RadzenStack>

</RadzenCard>

@code {
    int downpayment;
    int monthlyContribution;

    private void Update()
    {
        StateContainer.StockDownpayment = downpayment;
        StateContainer.StockContribution = monthlyContribution;
        StateHasChanged();
    }

}
