@page "/detail/{title}/{value}"

@inject IFetchData FetchData
@inject IJSRuntime JS;
@attribute [Authorize]

<div style="margin-top: -50px; margin-left: 100px;">
<h3>@title : @value</h3>
<div id="jsoneditor" style="width: 1400px; height: 1000px;"></div>
</div>


@code {
   
    [Parameter]
    public string title { get; set; }
    [Parameter]
    public string value { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string jsonString = await FetchData.GetDetails(title, value);
            await JS.InvokeVoidAsync("GetJson", jsonString);

            StateHasChanged();
        }
        catch (Exception ex)
        {
            
            throw;
        }
       
    }   

   
}